<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>86236612440-s727tiep1i1qolms6rsqmll4q01usnek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86236612440-s727tiep1i1qolms6rsqmll4q01usnek</string>
	<key>API_KEY</key>
	<string>AIzaSyBzctzcO1e0tkdG3HMULrOldMxrN47RiYE</string>
	<key>GCM_SENDER_ID</key>
	<string>86236612440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>be.appwise.Chat-App</string>
	<key>PROJECT_ID</key>
	<string>chat-b0dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-b0dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86236612440:ios:3fd120af3e1bbef3</string>
	<key>DATABASE_URL</key>
	<string>https://chat-b0dfc.firebaseio.com</string>
</dict>
</plist>